.center {
	display: flex;
	justify-content: center;
    justify-items: center;
}

.download {
    display: block;
    margin: 10px auto;
}

.cv {
    margin-top: 20px;
}

@media screen and (max-width: 980px) {
    img {
        width: 100%;
    } 
}
@media screen and (max-width: 817px) {
    img {
        max-width: 100%;
    }
    
}